.slider{
    .container{
        @media screen and (max-width: $breakpoint-lg){
            width: calc(79% - 40px);
        }
        .slider_container{
            display: flex;
            justify-content: center;
            height: auto;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom:40px;
            img{
                height: auto;
                object-fit: contain;
                // margin:0 10px;
                width: calc(100% - 10px) !important;
            }
            .myArrowPrev{
                position: absolute;
                left: -35px;
                font-size: 2em;
                color: #634E42;
                display: flex;
                align-self: center;
            }
            .myArrowNext{
                position: absolute;
                right: -35px;
                font-size: 2em;
                color: #634E42;
                display: flex;
                align-self: center;
            }
        }
    }
}
